    <div ng-include src="'genericPageTitle.html'"></div>

	<table class="table table-striped">

		<tr>
			<th>Family name</th>
			<th>Fist names</th>
			<th>Topics</th>
			<th></th>
		</tr>
		<tr ng-repeat="auteur in data">
			<td>{{auteur.achternaam}}</td>
			<td>{{auteur.voornaam}}, {{auteur.tussenvoegsel}}</td>
			<td>{{auteur.specialiteit}}</td>
			<td>
				<button ng-click="deleteObject(auteur)" class="btn btn-danger">Delete</button>
			</td>
		</tr>
	</table>
	<p>
		<button ng-click="showForm()" class="btn btn-md btn-success">Add Author</button>
	</p>
	<!-- formulier voor toevoegen van boek. Wordt getoond als vm.showForm 'true' is
		via bovenstaande knop -->
	<div ng-show="formVisible">
		<h3>{{ result }}</h3>

		<h2>Add an Author</h2>
		<label for="achternaam">Family name</label>
		<input type="text" ng-model="newObject.achternaam" id="achternaam" name="achternaam" class="form-control" placeholder="Achternaam" required autofocus>
		<label for="voornaam">First name</label>
		<input type="text" ng-model="newObject.voornaam" id="voornaam" name="voornaam" class="form-control" placeholder="Voornaam">
		<label for="tussenvoegsel">Preposition</label>
		<input type="text" ng-model="newObject.tussenvoegsel" id="tussenvoegsel" name="tussenvoegsel" class="form-control" placeholder="Tussenvoegsel">
		<label for="specialiteit">Topics</label>
		<input type="text" ng-model="newObject.specialiteit" id="specialiteit" name="specialiteit" class="form-control" placeholder="Specialiteit" required>
		<button class="btn btn-md btn-success" ng-click="addObject()">Submit</button>

	</div>
