
	<table class="table table-striped">
		<tr>
			<th>Title</th>
			<th>Author</th>
			<th>ISBN</th>
			<th>&nbsp;</th>
		</tr>
		<tr ng-repeat="book in data">
			<td>{{book.titel}}</td>
			<td>{{book.auteur}}</td>
			<td>{{book.ISBN}}</td>
			<td>
				<button ng-click="deleteObject(book)" class="btn btn-danger">Delete</button>
			</td>
		</tr>
	</table>
	<p>
		<button ng-click="showForm()" class="btn btn-md btn-success">Add Book</button>
	</p>
	<!-- formulier voor toevoegen van boek. Wordt getoond als vm.showForm 'true' is
		via bovenstaande knop -->
	<div ng-show="formVisible">
		<h3>{{ result }}</h3>

		<h2>New Book:</h2>
		<label for="titel">Title</label>
		<input type="text" ng-model="newObject.titel" id="titel" name="titel" class="form-control" placeholder="Titel" required
			   autofocus>

		<label for="auteur">Author</label>
		<input type="text" ng-model="newObject.auteur" id="auteur" name="auteur" class="form-control" placeholder="Auteur"
			   required>
		<label for="isbn">ISBN</label>
		<input type="text" ng-model="newObject.isbn" id="isbn" name="isbn" class="form-control" placeholder="ISBN" required>
		<button class="btn btn-md btn-success" ng-click="addObject()">Toevoegen</button>

	</div>
